body:not(.main-page) {
  margin: 0;
  background: darkgray;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#verticalButtons {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  justify-content: center;
}

button,
.file-input-label {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  cursor: pointer;
  background-color: lightgray;
}
button:hover,
.file-input-label:hover {
  background: white;
}

input[type='file'] {
  display: none;
}

#gameCanvas {
  /* background: lightgray; */
  background: #2a5;
}

#networkCanvas {
  background: black;
}

#miniMapCanvas {
  background: black;
}

#cameraCanvas {
  background-image: linear-gradient(#8cf, white 70%);
}

/* Race Game styles */
.miniMap {
  position: absolute;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  opacity: 50%;
}

#statistics {
  background: black;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 10px;
  opacity: 50%;
  overflow: hidden;
}

.stat {
  font-size: xx-large;
  font-family: Ariel;
  padding: 10px;
}

#counter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 40vmin;
  font-family: Ariel;
  opacity: 50%;
  color: white;
}

#ironManCanvas {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 300px;
  border-radius: 10px;
  opacity: 50%;
}
